*{
    margin: 0;
    padding: 0;
    font:12px 宋体;
}


a{  
    /* 去除超链接下划线 */
    text-decoration: none;
}

.clearfix:after{
	display: block;
	content: ".";
	height: 0;
	line-height: 0;
	visibility: hidden;
	clear: both;
}
.clearfix{
	zoom:1;
}


.head>div,#menu,.content,.footer{
    margin: 0 auto;
    width: 970px;
}

.head{
    background: #f7f7f7;
    height: 30px;
}

.head span{
    float: left;
}

.head ul{
    float: right;
    list-style: none;

}

.head ul li{
    /* 变成块级元素，可以设定宽高*/
    display: inline-block;
}

#logo{
    margin: auto 0;
}

#logo img{
    float: left;
}



#logo_search{
    float: right;
    height:35px;
    width: 526px;
}

#logo_left{
    float: left;
    width: 200px;
    height: 84px;
}

#logo_search input[type="text"]{
    float: left;
    width: 419px;
	height: 28px;
}
#logo_search input[type="button"]{
    float: left;
    background: url("../images/serch.png");
    width: 99px;
	height: 32px;
}


#menu{
    border-bottom: 3px solid #0266A2;
    height: 25px;
}

#menu ul{
    list-style: none;
}

#menu ul li{
    float: left;
}

#menu ul li a{
    font-size: 14px;
    padding: 0 20px;
    color: #0266A2;
    line-height: 25px;
    display: inline-block;
}
#menu ul li a:hover{
    background: #0266A2;
    color: white;
}

#banner{
    margin-top: 10px;
    margin-bottom: 25px;
}

#banner_left{
    float: left;
    width: 200px;
    height: 210px;
    background: #EBF0F6;
}

#banner #banner_left_title{
    background: #0266a2;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    color: white;
}

 #banner_left ul{
    list-style: none;
}

 #banner_left ul li{
    padding-left: 40px;
    height: 28px;
    line-height: 28px;
}

#banner_left_li_1{
    background: url("../images/icon_1.png") no-repeat 9px;
}
#banner_left_li_2{
    background: url("../images/icon_2.png") no-repeat 9px;
}
#banner_left_li_3{
    background: url("../images/icon_3.png") no-repeat 9px;
}
#banner_left_li_4{
    background: url("../images/icon_4.png") no-repeat 9px;
}
#banner_left_li_5{
    background: url("../images/icon_5.png") no-repeat 9px;
}
#banner_left_li_6{
    background: url("../images/icon_6.png") no-repeat 9px;
}

#banner_content{
    float: left;
}

#bud{
    width: 948px;
    height: 34px;
    background: #eaf0f6;
    line-height: 34px;
    border-top: 2px solid #c3d6e4;
}

#pro{
    height: 344px;
}

#pro_left{
    width: 727px;
    height: 344px;
    border: 1px solid #DFE6F0;
    float: left;
}

#pro_right{
    width: 238px;
    height: 344px;
    border: 1px solid #DFE6F0;
    float: right;
}